body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.sidebar {
  margin: 0;
  left: 0;
  padding: 0;
  width: 250px;
  background-color: #2a304a;
  position: fixed;
  height: 100%;
  
}

div.layout {
  border-left: 1px solid lightblue;
  padding-left: 250px;
  height: 100%;
  width:100%;
  background-color: #10121b;
  position: absolute;
}
div.content {
  height: 100%;
  width:100%;
  display: inline-block;
  border-left: 1px solid lightblue;
  position: relative;
}


div.background-canvas {
  height: 100%;
  position: absolute;
  width:100%;
}

canvas {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

div.container {
  padding-left: 15%;
  padding-right: 15%;
  height:100%;
  width:100%;
  position: absolute;
}

div.home {
  color: rgba(255, 255, 255, 0.562);
  text-align: center;
  padding: 15% 15%;
}

div.pages {
  color: rgba(255, 255, 255, 0.562);
  padding-top: 10%;
}

div.section-title {
  margin-bottom: 5%;
  position: relative;
}

h1 {
  color:rgb(109, 196, 224);
  font-weight: 700;
  font-size: 300%;
  margin-bottom: .5em;
  margin-top: 0;
}

h2 {
  color: white;
  font-size: 250%;
  margin-bottom: .5em;
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: .5em;
}

div.section-title h2:after, h2:before {
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  height: 5px;
  border-radius: 100px;
  z-index: 1;
}
div.section-title h2:before {
  width: 100px;
  background:rgb(109, 196, 224);
  z-index: 1;
}

div.section-title h2:after {
  width: 35px;
  background: #037fff;
  z-index: 1;
}

div.section-title span {
  position: absolute;
    left: 0;
    top: 100%;
    font-size: 5rem;
    line-height: 1;
    font-weight: 900;
    color: rgba(41, 44, 53, 0.44);
    display: inline-block;
    text-transform: uppercase;
    z-index: 0;
    transform: translateY(-45%);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

h5 {
  color:white;
  font-size: 150%;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: .5em;
}

p {
  font-size:120%;
}

ul.icons li a{
  margin: 10px;
}